<% provide(:title, "Sign Up") %>
<body>

<table class="table" style = "float: left; width: 1200px;" border = "0">
<td>
    <h2 style = "padding-left: 10px;"> 
      Daily Cheer allows you to recollect cheerful memories with friends and family
      <br>
      Sign up today or login with Facebook, Twitter or Gmail
    </h2>
  
</td>
<td style = "float: left;">
    <%= form_for(@user) do |f| %>
    <div class = "field">
    	<%= render 'Shared/error_messages' %>
      <%= f.text_field :name, :placeholder => "User Name" %>
      <br>
      <%= f.text_field :email, :placeholder => "Your Email"%>
      <br>
      <%= f.password_field :password, :placeholder => "Password" %>
      <br>
      <%= f.password_field :password_confirmation, :placeholder => "Password Confirmation" %>
      <br>
      <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
    </div>
    <span class = "note">Already Registered? <%= link_to "Sign In!", signin_path %></span>
    <br>
    <span class = "note">Forgot Password?</span>
    <% end %>
</td>
</table>
</body>