<% provide(:title, "Change Your Password") %>
  <body>    
<div class = "center" id = "signin">
   <%= form_for(:session, url: changepw_path) do |f| %>
    <div class = "field">
    
      <%= f.text_field :email, :placeholder => "Insert Email Here"%>
     
      <%= f.password_field :c_password, :placeholder => "Current Password" %>

      <%= f.password_field :password, :placeholder => "New Password" %>

      <%= f.password_field :password_confirmation, :placeholder => "Confirm New Password" %>
      <br>
      <input class="btn btn-large btn-primary" name="commit" type="submit" value="Change Password">
    </div>
    <% end %>
    
</div>
</body>